html{
    background-color: #000000;
}

.containers{
    width: 100%;
    /*background-color: #00b309;*/
}

.rows{
    display: flex;
    /*background-color: blue;*/
    margin: 10px ;
    width: 100%;
}

.col-50s{
    width: 50%;
}

/* .row .col-50:nth-child(1){
    background-color: coral;
}

.row .col-50:nth-child(2){
    background-color: rgb(230, 226, 1);
} */

.rows .col-50s figure{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

.rows .col-50s figure img{
    width: 80%;
}

.rows .col-50s:nth-child(1) div{
    width: 80%;
    margin: 120px auto;
    /*background-color: aqua;*/
}

.rows .col-50s:nth-child(2) div{
    width: 80%;
    margin: 300px auto;
    /*background-color: aqua;*/
}

.rows .col-50s div a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 72, 0);
    font-size: 1.1rem;
}

.rows .col-50s div p{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: justify;
}